.calender-container {
  margin-top: 1rem;
  .DatePicker_monthYearLabel__T6Ong {
    display: none;
  }

  .DatePicker_button__iBgLD {
    background: #1462ff;
  }

  .DatePicker_dateDayItem__XwRQy {
    width: 60px !important;
  }

  .DatePicker_daysContainer__9htA9 {
    display: flex;
    align-items: flex-end;
  }

  .time-options {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    .time-option {
      border: 1px solid #3d4e8d;
      padding: 10px 16px;
      border-radius: 12px;
      cursor: pointer;
    }
    .selected { 
      background-color: #3d4e8d;
      color: #fff;
    }
  }
}
